.Usersbody {
  display: grid;
  grid-template-columns: 80%;
  padding-left: 2%;
}
.Usersbody > div {
  /* padding: 1em; */
  padding-left: 10%;
  background-color: aliceblue;
}
.selectedPage {
  font-weight: bold;
}
.telo {
  display: grid;
  grid-template-columns: 10% 60%;
  grid-template-rows: 120px 100%;
  grid-gap: 5%;
  padding: 3px;
}
.telo > div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(241, 184, 208);
}
.telo > div.first {
  background-color: rgb(0, 255, 106);
}
.telo > div.second {
  display: grid;
  grid-template-columns: 5fr 1fr;
  padding: 10px;
  border: 2px solid rgba(203, 216, 203, 0.815);
  background-color: aliceblue;
}
.for_icon {
  display: flex;
  position: relative;
  width: auto;
  max-width: 50px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dialog_message {
  height: 30px;
  width: 300px;
  border: 1px solid;
  border-radius: 5px;
}
.dialog_button {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  height: 20px;
  width: 100px;
}
