.App {
  text-align: center;
}

.App-logo {
  height: 10vh;
  width: 5%;
  pointer-events: none;
  /* width: 10vmin; */
  border-radius: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  min-width: 50%;
  /* min-width: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;

  grid-template-areas:
    "h h"
    "n m";

  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.header {
  grid-area: h;
  background-color: green;
}
/* .header img {
  width: 20px;
} */
.nav {
  grid-area: n;
  background-color: rgb(189, 189, 236);
  border-radius: 10px;
}
.main-content {
  grid-area: m;
  background-color: rgb(192, 238, 207);
  border-radius: 10px;
}
/* .item{
  
} */
